In [1]:
import pandas as pd 
import numpy as np 
import math 
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score 
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
##from sklearn.metrics import classification_report
from imblearn.combine import SMOTETomek
#from imblearn.under_sampling import NearMiss 
from collections import Counter
from imblearn.over_sampling import RandomOverSampler

#Importing  DataSet

In [2]:
df=pd.read_csv("salary,satisfaction.csv")

In [3]:
df.head()

,id,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,...,homeaddress,latitude,longitude,PHONE,officeaddress,website,dateAdded,previousaddress,phones,CrimeTime
0,68407277,42405.00,0,"$3,600.00",Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,•\tExcellent interpersonal and organizational ...,...,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328,(91) 555 22 82,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,23:30:00
1,68355089,60740.00,1,"$24,700.00","EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,...,"300 20th St S Birmingham, AL 35233 US",33.509721,-86.802756,NaN,"157 Adams St., Stockton, California, 95204",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,23:00:00
2,68341763,51907.68,0,"$20,000.00",Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,"3220 Morrow Rd Birmingham, AL 35235 US",33.595581,-86.647437,NaN,"1950 W Freemont, Stockton, California, 95203",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,22:53:00
3,66310712,51907.68,0,"$35,000.00",Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,"4719 Highway 280 Birmingham, AL 35242 US",33.422582,-86.698279,2125557818,"102 S. State St., Ukiah, California, 95482",http://www.ukiahbrewingco.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,22:50:00
4,68476807,35.00,1,"$10,400.00",Temporary Painter,PAINTER,Dept of Management & Planning,Responsibilities of selected candidates will i...,1. Five years of full-time satisfactory experi...,NaN,...,"1821 Cherokee Ave SW Cullman, AL 35055 US",34.154134,-86.841220,26.47.1555,"13011 Newport Ave. #100, Tustin, California, 9...",http://www.tustinbrewery.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,22:31:00

In [7]:
df.tail()

,id,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,...,homeaddress,latitude,longitude,PHONE,officeaddress,website,dateAdded,previousaddress,phones,CrimeTime
2941,68394526,67757.0,0,"$14,000.00",Senior Mechanical Cost Estimator,CONSTRUCTION PROJECT MANAGER,"Eng, Design Const Supp",The New York City Department of Housing Preser...,1. A four-year high school diploma or its educ...,"1.\tThorough knowledge of City, State and Fede...",...,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-18T16:27:38Z,512 Ave U,(718) 336-3888,8:45:00
2942,68404684,67757.0,1,"$18,675.00",Senior Mechanical Cost Estimator,CONSTRUCTION PROJECT MANAGER,"Eng, Design Const Supp",The New York City Department of Housing Preser...,1. A four-year high school diploma or its educ...,"1.\tThorough knowledge of City, State and Fede...",...,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-18T16:27:38Z,512 Ave U,(718) 336-3888,8:25:00
2943,68414567,54100.0,0,"$24,000.00",Conversion Coordinator,COMMUNITY COORDINATOR,Operations,The New York City Department of Housing Preser...,1. A baccalaureate degree from an accredited c...,Strong preference for candidates who possess: ...,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-18T16:27:38Z,512 Ave U,(718) 336-3888,8:00:00
2944,68373599,54100.0,0,"$2,500.00",Conversion Coordinator,COMMUNITY COORDINATOR,Operations,The New York City Department of Housing Preser...,1. A baccalaureate degree from an accredited c...,Strong preference for candidates who possess: ...,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-18T16:27:38Z,512 Ave U,(718) 336-3888,8:00:00
2945,68172458,36390.0,0,"$10,000.00",Administrative Associate,CLERICAL ASSOCIATE,Internal Audits & Discipline,"Overseen by the Office Manager, the Administra...",Qualification Requirements A four-year high s...,ERROR: #NAME?,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-18T16:27:38Z,512 Ave U,(718) 336-3888,8:00:00

In [8]:
df=df.copy()

In [9]:
#Understanding the dataset

In [12]:
print('Shape of the  dataset = {}'.format(df.shape))
print('Total No of Rows of  Dataset = ',len(df))
print('Total No of Columns of  Dataset = ',len(df.columns))

Shape of the  dataset = (2946, 83)
Total No of Rows of  Dataset =  2946
Total No of Columns of  Dataset =  83

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 83 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2946 non-null   int64
 1   Target_Salary               2946 non-null   float64
 2   Target_Satisfied            2946 non-null   int64
 3   LOAN_AMT                    2946 non-null   object
 4   Business Title              2946 non-null   object
 5   Civil Service Title         2946 non-null   object
 6   Division/Work Unit          2946 non-null   object
 7   Job Description             2946 non-null   object
 8   Minimum Qual Requirements   2926 non-null   object
 9   Preferred Skills            2553 non-null   object
 10  Additional Information      1854 non-null   object
 11  To Apply                    2945 non-null   object
 12  Hours/Shift                 884 non-null    object
 13  Residency Requirement       2942 non-null   object
 14  Posting Date                2942 non-null   object
 15  Posting Updated             2942 non-null   object
 16  Process Date                2942 non-null   object
 17  FormalEducation             2894 non-null   object
 18  UndergradMajor              2624 non-null   object
 19  CompanySize                 2946 non-null   object
 20  DevType                     2901 non-null   object
 21  YearsCoding                 2943 non-null   object
 22  YearsCodingProf             2538 non-null   object
 23  HopeFiveYears               2477 non-null   object
 24  JobSearchStatus             2511 non-null   object
 25  LastNewJob                  2499 non-null   object
 26  UpdateCV                    2089 non-null   object
 27  CommunicationTools          2023 non-null   object
 28  TimeFullyProductive         2052 non-null   object
 29  EducationTypes              2128 non-null   object
 30  SelfTaughtTypes             1812 non-null   object
 31  TimeAfterBootcamp           221 non-null    object
 32  HackathonReasons            849 non-null    object
 33  AgreeDisagree1              2133 non-null   object
 34  AgreeDisagree2              2133 non-null   object
 35  AgreeDisagree3              2139 non-null   object
 36  LanguageWorkedWith          2447 non-null   object
 37  LanguageDesireNextYear      2279 non-null   object
 38  DatabaseWorkedWith          2130 non-null   object
 39  DatabaseDesireNextYear      1831 non-null   object
 40  PlatformWorkedWith          2070 non-null   object
 41  PlatformDesireNextYear      1909 non-null   object
 42  FrameworkWorkedWith         1633 non-null   object
 43  FrameworkDesireNextYear     1731 non-null   object
 44  IDE                         2360 non-null   object
 45  OperatingSystem             2377 non-null   object
 46  Methodology                 1991 non-null   object
 47  VersionControl              2332 non-null   object
 48  CheckInCode                 2319 non-null   object
 49  AIDangerous                 2000 non-null   object
 50  AIInteresting               2076 non-null   object
 51  AIResponsible               2070 non-null   object
 52  AIFuture                    2196 non-null   object
 53  Age                         2027 non-null   object
 54  term                        2946 non-null   object
 55  loan_status                 2946 non-null   object
 56  pymnt_plan                  2946 non-null   object
 57  orignal_website_directory   2946 non-null   object
 58  purpose                     2946 non-null   object
 59  title                       2882 non-null   object
 60  zip_code                    2946 non-null   object
 61  addr_state                  2946 non-null   object
 62  dti                         2946 non-null   float64
 63  earliest_cr_line            2946 non-null   object
 64  last_pymnt_d                2946 non-null   object
 65  last_pymnt_amnt             2946 non-null   float64
 66  next_pymnt_d                336 non-null    object
 67  last_credit_pull_d          2946 non-null   object
 68  Time                        2946 non-null   object
 69  emp_length                  715 non-null    object
 70  your_favoritearticle_today  2945 non-null   object
 71  url                         2946 non-null   object
 72  Email                       1941 non-null   object
 73  homeaddress                 2629 non-null   object
 74  latitude                    2629 non-null   float64
 75  longitude                   2629 non-null   float64
 76  PHONE                       715 non-null    object
 77  officeaddress               2407 non-null   object
 78  website                     2399 non-null   object
 79  dateAdded                   2946 non-null   object
 80  previousaddress             2946 non-null   object
 81  phones                      2946 non-null   object
 82  CrimeTime                   2946 non-null   object
dtypes: float64(5), int64(2), object(76)
memory usage: 1.9+ MB

In [13]:
#Check Description of the traning Dataset

In [14]:
df.describe()

,id,Target_Salary,Target_Satisfied,dti,last_pymnt_amnt,latitude,longitude
count,2.946000e+03,2946.000000,2946.000000,2946.000000,2946.000000,2629.000000,2629.000000
mean,6.830623e+07,58904.139794,0.210115,19.444117,4663.227026,37.515979,-92.490287
std,1.814269e+06,26986.575936,0.407460,8.628543,6855.297610,4.749089,16.578616
min,3.617740e+05,0.000000,0.000000,0.000000,0.030000,25.479009,-124.183611
25%,6.837622e+07,49390.000000,0.000000,13.035000,362.980000,33.876535,-105.095673
50%,6.846507e+07,58440.000000,0.000000,18.905000,842.235000,38.898082,-87.180851
75%,6.853764e+07,73171.750000,0.000000,25.580000,6832.185000,40.813125,-78.879958
max,6.861706e+07,218587.000000,1.000000,51.200000,35467.750000,48.785206,-68.753750

In [15]:
df.corr()

,id,Target_Salary,Target_Satisfied,dti,last_pymnt_amnt,latitude,longitude
id,1.000000,-0.010424,0.017360,0.037443,-0.021086,-0.006909,0.016005
Target_Salary,-0.010424,1.000000,0.007766,0.002491,0.009170,0.014446,-0.013123
Target_Satisfied,0.017360,0.007766,1.000000,0.001063,-0.049296,-0.005274,0.029954
dti,0.037443,0.002491,0.001063,1.000000,-0.050584,0.011303,-0.002151
last_pymnt_amnt,-0.021086,0.009170,-0.049296,-0.050584,1.000000,0.006990,-0.014675
latitude,-0.006909,0.014446,-0.005274,0.011303,0.006990,1.000000,0.158156
longitude,0.016005,-0.013123,0.029954,-0.002151,-0.014675,0.158156,1.000000

In [19]:
df.columns

Index(['id', 'Target_Salary', 'Target_Satisfied', 'LOAN_AMT', 'Business Title',
       'Civil Service Title', 'Division/Work Unit', 'Job Description',
       'Minimum Qual Requirements', 'Preferred Skills',
       'Additional Information', 'To Apply', 'Hours/Shift',
       'Residency Requirement', 'Posting Date', 'Posting Updated',
       'Process Date', 'FormalEducation', 'UndergradMajor', 'CompanySize',
       'DevType', 'YearsCoding', 'YearsCodingProf', 'HopeFiveYears',
       'JobSearchStatus', 'LastNewJob', 'UpdateCV', 'CommunicationTools',
       'TimeFullyProductive', 'EducationTypes', 'SelfTaughtTypes',
       'TimeAfterBootcamp', 'HackathonReasons', 'AgreeDisagree1',
       'AgreeDisagree2', 'AgreeDisagree3', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'FrameworkWorkedWith',
       'FrameworkDesireNextYear', 'IDE', 'OperatingSystem', 'Methodology',
       'VersionControl', 'CheckInCode', 'AIDangerous', 'AIInteresting',
       'AIResponsible', 'AIFuture', 'Age', 'term', 'loan_status', 'pymnt_plan',
       'orignal_website_directory', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'earliest_cr_line', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'Time',
       'emp_length', 'your_favoritearticle_today', 'url', 'Email',
       'homeaddress', 'latitude', 'longitude', 'PHONE', 'officeaddress',
       'website', 'dateAdded', 'previousaddress', 'phones', 'CrimeTime'],
      dtype='object')

In [20]:
df.isnull().sum()

id                    0
Target_Salary         0
Target_Satisfied      0
LOAN_AMT              0
Business Title        0
                   ...
website             547
dateAdded             0
previousaddress       0
phones                0
CrimeTime             0
Length: 83, dtype: int64

In [21]:
# Missing values percentage 
miss=pd.DataFrame((df.isnull().sum()/df.shape[0])*100, columns=["miss_per"])

In [22]:
miss[miss["miss_per"]>0]

                             miss_per
Minimum Qual Requirements    0.678887
Preferred Skills            13.340122
Additional Information      37.067210
To Apply                     0.033944
Hours/Shift                 69.993211
Residency Requirement        0.135777
Posting Date                 0.135777
Posting Updated              0.135777
Process Date                 0.135777
FormalEducation              1.765105
UndergradMajor              10.930075
DevType                      1.527495
YearsCoding                  0.101833
YearsCodingProf             13.849287
HopeFiveYears               15.919891
JobSearchStatus             14.765784
LastNewJob                  15.173116
UpdateCV                    29.090292
CommunicationTools          31.330618
TimeFullyProductive         30.346232
EducationTypes              27.766463
SelfTaughtTypes             38.492872
TimeAfterBootcamp           92.498303
HackathonReasons            71.181263
AgreeDisagree1              27.596741
AgreeDisagree2              27.596741
AgreeDisagree3              27.393075
LanguageWorkedWith          16.938221
LanguageDesireNextYear      22.640869
DatabaseWorkedWith          27.698574
DatabaseDesireNextYear      37.847929
PlatformWorkedWith          29.735234
PlatformDesireNextYear      35.200272
FrameworkWorkedWith         44.568907
FrameworkDesireNextYear     41.242363
IDE                         19.891378
OperatingSystem             19.314325
Methodology                 32.416836
VersionControl              20.841819
CheckInCode                 21.283096
AIDangerous                 32.111337
AIInteresting               29.531568
AIResponsible               29.735234
AIFuture                    25.458248
Age                         31.194840
title                        2.172437
next_pymnt_d                88.594705
emp_length                  75.729803
your_favoritearticle_today   0.033944
Email                       34.114053
homeaddress                 10.760353
latitude                    10.760353
longitude                   10.760353
PHONE                       75.729803
officeaddress               18.295995
website                     18.567549

In [23]:
df.drop(["TimeAfterBootcamp"],axis=1,inplace=True)